<h1> <%= @task.title %> </h1>

<p> Description: <%= @task.details %> </p>

<% if @task.completed %>
<%= "[x]  This task is ok" %>
<% else  %>
<%= "[ ] This task is not ok" %>
<% end %>

<p><div class='btn'><%=link_to "modify", tasks_edit_path(@task[:id]) %> </p></div> </p>


 <p>   <%= link_to "Go back", "/tasks" %> </p>
